body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(86, 39, 255, 0.158), rgba(252, 236, 248, 0.493) 50%);
}

.title {
    font-size: 2.5em;
    color: rgb(191, 36, 238);
    font-weight: 300;
}

.searchbar-wrapper {
    max-width: 80vw;
}

.searchbar-wrapper__input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(230, 186, 255, 0.541),
                -4px -4px 15px white;
    padding: 0 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(225, 124, 255);
}
.searchbar-wrapper__input::placeholder {
    color: rgb(238, 181, 255);
}

.searchbar-wrapper__input:focus {
    outline: none;
    box-shadow: 4px 4px 10px rgba(225, 174, 255, 0.836),
                -4px -4px 15px white;
}

.searchbar-wrapper__button {
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(230, 186, 255, 0.541),
                -4px -4px 15px white;
    padding: 0 10px;
    background-color: rgb(225, 124, 255);
    color: rgb(247, 228, 253);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.searchbar-wrapper__button:hover {
    box-shadow: 2px 2px 5px rgba(225, 174, 255, 0.945),
                -2px -2px 10px white;
    background-color: rgba(224, 124, 255, 0.555);
}


.table {
    margin: 4em 0 20px 0;
    width: auto;
    border: none;
    box-shadow: 4px 4px 10px rgba(230, 186, 255, 0.37),
            -4px -4px 15px white;
    border-collapse: collapse; 
}


.table caption {
    margin: 15px 0;
    font-size: 1.2em;
    font-weight: normal !important;
    color: rgb(191, 36, 238);
}
.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}
.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

.table th {
    background-color: rgba(225, 124, 255, 0.555);
    color: white;
}

.table td {
    background-color: rgba(255, 249, 253, 0.342);
}


.error-message-container {
    margin-top: 2em;
}

.error-message {
    color: red;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 200, 200, 0.5);
    border-radius: 8px;
}


.filter-options {
    justify-content: center;
}

.filter-options__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: end;
}

.filter-options__list-item {
    margin: 0 10px;
    font-size: .8em;
}

.filter-options__list-item a {
    text-decoration: none;
    color: rgb(191, 36, 238);
    transition: color 0.3s ease-in-out;
}

.filter-options__list-item > a:hover {
    color: rgb(238, 182, 255);
}

.filter-options__list-item:nth-child(2) {
    transition: all 0.3s ease-in-out;
}

.filter-options__list-item:nth-child(2):hover .dropdown-list {
    display: block;
}

.dropdown-list {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(191, 36, 238, 0.5);
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(230, 186, 255, 0.37),
                -4px -4px 15px white;
    padding: 10px;
    z-index: 1000;
    list-style: none;
    font-size: 14px;
    display: none;
}   

.dropdown-list__list-item {
    border-bottom: 1px solid rgba(191, 36, 238, 0.358);
    cursor: pointer;
    color: rgb(191, 36, 238);
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;

}   

.dropdown-list__list-item:nth-child(1),
.dropdown-list__list-item:nth-child(2) {
    margin-bottom: 10px;
}

.dropdown-list__list-item:hover {
    background-color: rgba(191, 36, 238, 0.285);
    color: rgb(238, 182, 255);
}

/* Map Styles */

.map-wrapper {
    max-width: 80vw;
    height: 500px;
    width: 50%;
    border: 2px solid red;
    max-height: 600px;
}

#map {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid rgba(191, 36, 238, 0.211);;
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgba(230, 186, 255, 0.541),
                -4px -4px 15px white;

}
